
.navbar ul {
    
    list-style: none;
    background-color: rgb(73, 69, 69);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;
    

}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin: 0 20px;
}
 
.navbar a:hover{
    background-color: rgb(114, 18, 18);
    text-decoration: underline;
}