/* .box{
    background-color: orange;
    /* width: 100%; */
    /* height: 600px; */
/* }
.box-1{
    background-color: red;
    width: 50px    ;
    height: 100px;
} */ 

.para{
    background-color: orange;
    width:400px ;
    height: 100px;
    min-width: 200px;
    min-height: 200px;
    overflow-y: scroll;
    border: 2px solid black;
    margin: 30px;
    padding: 40px;
}

