.nav{
    display: flex;
    justify-content: end;
    gap: 30px;
    margin: 20px;
   background-color: rgb(141, 141, 168);
   height: 4rem;
   align-items: center;
}

.nav a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-weight: bolder;
    text-shadow: 4px 2px 8px green;
}

.nav a:hover{
    text-decoration: underline yellow;
}




aside .aside ul{
    
    font-size: 30px;
    list-style-type: none;
    background-color: cadetblue;
    padding: 30px;
    font-weight: bolder;
    
    
    
    
    
}
aside .aside ul a{
     text-decoration: none;
     background-color: cadetblue;
     gap: 49px;
     color: black;
}

aside .aside ul a:hover{
    text-decoration: underline white;
    background-color: hotpink;

}
